In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import UnexpectedAlertPresentException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver import Firefox
from selenium.webdriver.firefox.firefox_binary import FirefoxBinary
from selenium.webdriver.firefox.options import Options
import os
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from selenium.webdriver.common.keys import Keys
import time
import re

In [2]:
rootdir = "C:/Users/minif/OneDrive/Desktop/"
tickers = [
    'T',
    'CTL',
    'S',
    'TMUS',
    'VZ',
    'FTR',
    'TDS',
    'USM'
]
EVs = [[],[],[],[],[],[],[],[]]
dates = []
foundDates = False

In [3]:
browser = webdriver.Firefox()
delay = 10 # seconds
#login
browser.get("https://ycharts.com/companies/GOOG/enterprise_value")

browser.find_element_by_xpath('//a[contains(text(), "Sign In")]').click()

WebDriverWait(browser, delay).until(EC.presence_of_element_located((By.ID, 'id_username')))

username_box = browser.find_element_by_xpath('//*[@id="id_username"]')
password_box = browser.find_element_by_xpath('//*[@id="id_password"]')

username_box.send_keys('jfeitel1@jhu.edu')
password_box.send_keys('aINVgEJmX0H&QrRl')
password_box.send_keys(Keys.ENTER)
WebDriverWait(browser, delay).until(EC.presence_of_element_located((By.XPATH, '//div[@class="dataColLeft"]')))

In [4]:
def findEV(html, num):
    #print(html)
    startIndex = html.find('ng-show="!initPhase &amp;&amp; !displayDataLoader')
    #print(startIndex)
    while('tr' in html):
        startIndex = html.find('<td', startIndex)
        startIndex = html.find('>', startIndex)
        endIndex = html.find('<', startIndex)
        date = html[startIndex+1: endIndex]
        while('\n' in date):
            date = re.sub('\n', '', date)
        while(' ' in date):
            date = re.sub(' ', '', date)
        if(date == ''):
            break
        if(foundDates == False):
            dates.append(date)
        startIndex = html.find('<td', endIndex)
        startIndex = html.find('>', startIndex)
        endIndex = html.find('<', startIndex)
        EV = html[startIndex+1: endIndex]
        while('\n' in EV):
            EV = re.sub('\n', '', EV)
        while(' ' in EV):
            EV = re.sub(' ', '', EV)
        if('B' in EV):
            EV = re.sub('B', '', EV)
        EVs[num].append(EV)
        html = html[endIndex:]
        startIndex = 0
        endIndex = 0
    
def getEV(ticker, num):
    browser.get('https://ycharts.com/companies/' + ticker + '/enterprise_value')
    WebDriverWait(browser, delay).until(EC.presence_of_element_located((By.XPATH, '//input[@ng-model="startDate"]')))
    startDate = browser.find_element_by_xpath('//input[@ng-model="startDate"]')
    for i in range(10):
        startDate.send_keys(Keys.BACK_SPACE)
    startDate.send_keys('06/29/2007')
    endDate = browser.find_element_by_xpath('//input[@ng-model="endDate"]')
    for i in range(10):
        endDate.send_keys(Keys.BACK_SPACE)
    endDate.send_keys('11/15/2018')
    getDataBtn = browser.find_element_by_xpath('//input[@value="Get Data"]')
    getDataBtn.click()
    html = browser.page_source
    findEV(html, num)
    try:
        while(True):
            # look for the next button and click it, then scrape
            WebDriverWait(browser, delay).until(EC.presence_of_element_located((By.XPATH, '//a[@class="nextBtn"][@ng-click="newPage(\'next\')"]')))
            nextBtn = browser.find_element_by_xpath('//a[@class="nextBtn"][@ng-click="newPage(\'next\')"]')
            nextBtn.click()
            html = browser.page_source
            findEV(html, num)
    except TimeoutException:
        pass

In [5]:
for n in range(len(tickers)):
    getEV(tickers[n], n)
    foundDates = True
browser.close()

In [57]:
def write_data_excel():
    df_output = pd.DataFrame({'Dates': dates, 
                              tickers[0]: EVs[0], 
                              tickers[1]: EVs[1], 
                              tickers[2]: EVs[2], 
                              tickers[3]: EVs[3], 
                              tickers[4]: EVs[4], 
                              tickers[5]: EVs[5],
                              tickers[6]: EVs[6], 
                              tickers[7]: EVs[7]})
    
    writer = pd.ExcelWriter('C:/Users/minif/OneDrive/Desktop/CellularEV.xlsx')
    df_output.to_excel(writer,'Sheet1')
    writer.save()
    
    return df_output

In [7]:
dates2 = dates.copy()

for n in range(len(dates2)):
    if('.' in dates2[n]):
        dates2[n] = dates[n].replace('.', ' ')
    dates2[n] = dates2[n].replace(',', ', ')
    word = list(dates2[n])
    if(word[3].isdigit() == False and word[3] != ' '):
        word[3] = ' '
    if(word[3].isdigit() == True):
        word.insert(3, ' ')
    if(word[4] == ' '):
        word.pop(4)
    dates2[n] = ''.join(word)

dates = dates2

In [62]:
for n in range(len(dates)):
    word = list(dates[n])
    if(word[4] == 'l'):
        del(word[4])
    dates[n] = ''.join(word)

In [54]:
EVs[2].append('N/A')

In [55]:
for n in range(len(EVs)):
    print(str(n) + " " + str(len(EVs[n])))

0 2881
1 2881
2 2881
3 2881
4 2881
5 2881
6 2881
7 2881

In [63]:
write_data_excel()

             Dates       T    CTL      S   TMUS      VZ    FTR    TDS    USM
0     Nov 15, 2018  395.10  56.63  56.78  70.21  356.12  17.56  6.021  5.614
1     Nov 14, 2018  397.94  56.75  56.90  70.24  355.54  17.56  6.034  5.562
2     Nov 13, 2018  396.63  56.44  57.15  70.49  354.38  17.58  6.044  5.537
3     Nov 12, 2018  399.90  56.92  56.66  70.04  354.63  17.59  6.051  5.524
4      Nov 9, 2018  399.25  56.57  57.07  70.71  353.55  17.58  6.079  5.532
5      Nov 8, 2018  401.79  58.92  57.35  71.62  352.77  17.59  6.067  5.458
6      Nov 7, 2018  402.23  59.34  57.84  72.12  350.21  17.60  6.073  5.566
7      Nov 6, 2018  401.21  58.99  57.11  70.79  348.39  17.72  5.950  5.362
8      Nov 5, 2018  398.81  58.83  57.39  70.89  348.39  17.70  5.900  5.431
9      Nov 2, 2018  398.01  58.80  57.39  70.57  345.99  17.70  5.964  5.717
10     Nov 1, 2018  397.79  58.38  57.43  70.88  343.60  17.68  5.470  4.988
11    Oct 31, 2018  399.17  58.44  56.78  70.60  347.89  17.68  5.569  5.010
12    Oct 30, 2018  397.41  58.25  54.98  66.68  352.40  17.67  5.525  4.923
13    Oct 29, 2018  391.38  57.49  55.27  67.52  345.37  17.66  5.422  4.819
14    Oct 26, 2018  387.38  57.07  55.64  67.69  341.36  17.64  5.462  4.832
15    Oct 25, 2018  393.85  58.90  56.62  68.71  345.17  17.65  5.560  4.900
16    Oct 24, 2018  396.61  58.66  56.04  68.19  349.26  17.66  5.551  4.926
17    Oct 23, 2018  415.95  59.37  57.88  71.22  348.39  17.72  5.816  5.139
18    Oct 22, 2018  413.40  59.14  58.08  71.42  339.17  17.73  5.720  5.090
19    Oct 19, 2018  414.86  59.90  58.16  71.62  338.84  17.75  5.714  5.090
20    Oct 18, 2018  412.17  58.87  57.80  70.79  337.81  17.74  5.694  5.050
21    Oct 17, 2018  412.68  58.99  57.96  71.05  334.96  17.77  5.743  5.114
22    Oct 16, 2018  411.37  58.83  57.92  70.93  333.89  17.75  5.745  5.085
23    Oct 15, 2018  411.15  58.52  57.43  69.81  333.47  17.72  5.684  5.019
24    Oct 12, 2018  410.35  58.46  57.96  70.46  334.01  17.74  5.667  5.005
25    Oct 11, 2018  406.72  57.90  57.15  68.62  332.36  17.79  5.566  4.833
26    Oct 10, 2018  414.71  58.74  57.23  68.97  336.49  17.88  5.709  4.960
27     Oct 9, 2018  419.44  58.86  58.08  70.53  339.22  17.91  5.726  4.987
28     Oct 8, 2018  423.87  59.11  58.41  70.83  339.34  17.90  5.656  4.809
29     Oct 5, 2018  423.00  59.76  58.08  70.64  339.01  17.89  5.653  4.810
...            ...     ...    ...    ...    ...     ...    ...    ...    ...
2851   Aug 9, 2007  298.49  5.693  75.17  10.96  172.53  8.889  6.689  9.210
2852   Aug 8, 2007  305.19  5.601  76.42  12.27  174.13  8.940  6.452  7.983
2853   Aug 7, 2007  305.87  5.612  75.53  12.35  177.58  8.984  7.125  8.258
2854   Aug 6, 2007  304.65  5.435  75.17  11.86  177.36  8.723  7.719  8.890
2855   Aug 3, 2007  299.71  5.488  77.39  12.06  178.20  8.645  7.870  9.088
2856   Aug 2, 2007  306.72  5.594  77.53  14.78  176.38  8.811  7.926  9.180
2857   Aug 1, 2007  304.46  5.625  77.28  14.03  177.41  9.045  8.145  9.408
2858  Jul 31, 2007  297.94  5.462  78.39  13.95  177.71  8.970  8.169  9.364
2859  Jul 30, 2007  301.66  5.602  77.50  14.18  176.03  9.197  8.214  9.408
2860  Jul 27, 2007  298.42  5.713  78.28  13.46  173.02  9.234  8.450  9.429
2861  Jul 26, 2007  302.88  5.686  80.41  13.55  174.35  9.173  8.413  9.346
2862  Jul 25, 2007  306.11  5.769  80.85  13.61  175.43  9.258  8.648  9.547
2863  Jul 24, 2007  301.11  5.749  81.41  14.34  177.66  9.430  8.862  9.706
2864  Jul 23, 2007  303.24  5.647  81.30  14.78  177.36  9.413  8.853  9.693
2865  Jul 20, 2007  297.33  5.697  81.38  14.91  176.49  9.451  8.817  9.846
2866  Jul 19, 2007  300.93  5.591  81.80  14.97  175.11  9.444  8.894  9.798
2867  Jul 18, 2007  300.80  5.607  81.82  14.89  175.05  9.512  9.026  9.864
2868  Jul 17, 2007  302.08  5.592  82.38  15.24  174.26  9.471  9.009  9.891
2869  Jul 16, 2007  304.34  5.772  80.52  14.56  175.05  9.518  8.971  9.926
2870  Jul 13, 2007  305.50  5.754  81.44  14.16  176.41  9.539  8.725  9.898
2871  Jul 12, 2007  305.99  5.760  81.33  14.14  173.69  9.576  8.636  9.719
2872  Jul 11, 2007  301.90  5.758  79.69  13.80  172.80  9.539  8.736  9.943
2873  Jul 10, 2007  300.01  5.850  79.91  13.60  171.09  9.505  8.494  9.614
2874   Jul 9, 2007  306.05  5.855  80.99  13.45  170.33  9.457  8.249  9.327
2875   Jul 6, 2007  307.09  5.780  80.44  13.45  174.40  9.586  8.344  9.329
2876   Jul 5, 2007  308.91  5.805  80.63  13.11  173.12  9.498  8.214  9.206
2877   Jul 3, 2007  312.21  5.846  80.19  13.16  174.29  9.529  8.060  9.101
2878   Jul 2, 2007  314.34  5.831  77.78  12.71  174.67  9.583  8.018  9.131
2879  Jun 30, 2007  312.21  5.794  79.64  12.71  173.21  9.515  7.957  9.033
2880  Jun 29, 2007  316.09  5.811    N/A  13.62  172.09  9.481  8.577  8.846

[2881 rows x 9 columns]